body {
    background-color: #ECF9FF;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 6px;
    width: 3%;
}

h1{
    color: #453C67;
}
h3{
    color: #635985;
}